# Virtual environments

venv/

# Python cache

**pycache**/
_.pyc
_.pyo

# Test & coverage artifacts

.pytest_cache/
.coverage
htmlcov/

# Environment files

.env
.env.\*

# Git

.git/
.gitignore

# IDE/editor

.vscode/
.idea/

# Infra (do not include CFN in image)

deploy/
