# Create a .env file with these fields to make sure that env is setup
JWT_SECRET_KEY=your_secret_key
JWT_ALGORITHM=jwt_algo_to_use
AWS_REGION=us-east-1
DDB_TABLE_NAME=Your_Table_Name
CORS_ORIGIN=Origins_Allowed